.flag{
    background-color:orange;
    height: 600px;
    width: 900px;
}
.flag>div{
    background-color: #fff;
    height: 300px;
    position: relative;
    top: 150px;
}
.flag>div>div{
    background-color: blue;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position:absolute;
    top: 50px;
    left: 350px;
}
.flag>div>div>div{
    background-color: green;
    height: 150px;
    width: 900px;
    position :relative;
    top: 250px;
    right: 350px;
}
@media (max-width:600px) {
.flag{
    height:600px;
    width:300px;
}
.flag>div{
    width: 300px;
}
.flag>div>div{
    left: 50px;
}
.flag>div>div>div{
    width: 300px;
    right: 50px;
}
}
